<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/home.css">
  
  <title>Game</title>
</head>
<body>

  <header id="navbar">
    <h2 class="logo"> &#128518 &#128512 &#128521</h2>
    <nav class="navigation">
      <a href="#" class="active">Home</a>
      <a href="#" onclick="logindata()">Logout</a>
      <a href="#" onclick="leaderdata()">Leaderboard</a>
    </nav>
  </header>

  
  <div class="page">
    
    <div class="keyart" id="parallax">
      <h1 class="h1_name">Tom</h1>
      <div class="keyart_layer" id="keyart-8"></div>
      <div class="keyart_layer" id="keyart-7"></div>
      <div class="keyart_layer" id="keyart-6"></div>
      <div class="keyart_layer" id="keyart-5"></div>
      <div class="keyart_layer" id="keyart-4"></div>
      <div class="keyart_layer" id="keyart-3"></div>
      <div class="keyart_layer" id="keyart-1"></div>
      <div class="keyart_layer" id="keyart-0"></div>
    </div>
  <div class="overflow">
    <div class="main-bod">
      <h1>Let the Adventure begin!!!!</h1>
      <p>
        Welcome to the world of mystery and intrigue, where you (Tom) are the hero of your own adventure. Your younger brother has been kidnapped, and the only way to find him is to follow the clues that have been left behind by the kidnappers.</p>

<p>This website is the starting point of your journey, and it's up to you to uncover the secrets that are hidden within its pages. Explore every nook and cranny, solve puzzles, and decipher messages to discover the next step in your quest.</p>
<p>But be warned: the kidnappers are part of a larger criminal organization, and they will stop at nothing to keep you from uncovering their plans. You'll need to use all of your wits and problem-solving skills to outsmart them and rescue your brother before it's too late.
</p>
<p>

Along the way, you'll encounter a cast of characters, each with their own motivations and secrets. Some will be helpful and provide you with valuable information, while others will try to mislead you or sabotage your efforts.

Are you ready to embark on this thrilling adventure? The fate of your brother and countless others rests in your hands. Let the puzzle-solving begin !!!
</p>

      </p>
    </div>
    <button id="start_button" onclick="sendData()">Start</button>
  </div>
  
</div>
<script>
    function sendData() {
      window.location.href="story";
    }
    function logindata(){
      window.location.href="story";
    }
    function leaderdata(){
      window.location.href="story";
    }


  </script>
</body>

</html>