<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Sign Up</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">
    <!--Stylesheet-->
   
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div>
    <form action="/register" method="POST">
        <h3>Sign Up Here</h3>

        <label for="username">Username</label>
        <input name="name" required type="text" placeholder="Name" id="username">

        <label for="password">Password</label>
        <input name="pass" required  type="password" placeholder="Password" id="password">

        <label for="password">Re-enter Password</label>
        <input name="confirmpass" required  type="password" placeholder="Password" id="password">
   

    <span class="controls">
      <input type="radio" name="gender" class="radio" id="female"  value="female">
      <label for="female">Female</label>
      <input type="radio" name="gender" class="radio" id="male"  value="male"
             checked>
      <label for="male">Male</label>
    </span>
        <input name="submit" type="submit" id="sub-but" value="register">
        <div class="social">
        </div>
    </form>
    </div>
    <div class="login"><a href="/login"><button >Log In Instead</button></a></div>
    

    
</body>
</html>
