<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/story.css">
    <title>Story</title>
    
</head>
<body>
    <div id="stripped">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 1062">
<polyline points="0,154 131,0 0,348 269,0 0,562 437,0 
	0,766 565,14 0,1062 719,0 289,1062 843,0 543,1062 995,0 729,1062 1161,0 947,1062 1307,0 1143,1062 1500,162 1299,1062 1500,830"/>
</svg>
</div>
<div class="content">
    <div class="main">
        <h1>Chapter 1:The Affair</h1>
    <p>Tom is looking for his brother (Jack) since he went missing and he found that his brother went missing from 17th alley when Tom went their to explore and found a phone lying in the corner , it was same phone his brother had a ZebraV8 . </p>
    <p>This phone could have some crucial information from which Jack's kidnapping can be deciphered, Tom was relived that he now has something to work with.</p>
    <p>In the Wechat logs Tom finds out that Jack has been talking to this girl regularly as he remembers Tom mentoning him something about her, her name is Lily (a bartender in 6th Avenue), Tom knows her as he has visited that bar many times in past.Tom went straight to bar he founds out Lily is also missing, something is fishy here. He heads home down in ūndēvīgintī apartments  </p>
    <h1>For now Lily is Prime suspect in Tom's eyes !!!!</h1>
    <p>
        Tom now  opens Instagram on Jack's phone where he finds some personal chats between Jack and Lily.
    </p>
    <a href="https://www.instagram.com/lily_viginti_tres/" target="_blank"><img src="https://www.nicepng.com/png/full/4-41495_icon-transparent-background-png-facebook-twitter-instagram-png.png" alt="Insta" style="width:60px;height:60px;" ></a>
    <p>In his Insta Lily is asking him for money for past 4 days yet, Jack was always trying to wrap around this but it seems that part of conversations are missing. Lily mentioned something about "LATIN" street which is around the corner where Jack used to work, this area is relatively unsafe, with all the gangs that are involved. </p>

    <p>To further dig into this Tom went to street where he talked to bunch of people, when me mets a man named Carlos who seems like a "even" sounding man tells Tom that Lily was previously involved with "5 sclopeta" gang. </p>
    <p>Jack office was the next place Tom went to find clues after searching for hours Tom finds a piece of paper made in a ball in the trash bin with 71 bakers written on it, this takes tom back when they both used to visit this place as kids with their parents looking to enjoy sunset in evening, Tom sense something Big is going on here.</p>
    <p>Tom went to Lily's house to meet her brother as Lily was orphan and her brother was the only family she ever had, as Tom approached her house he discovered that lights are still on and door is open as Tom enters the house , he see a dark figure sitting on chair and voice fell in his ears "I was Waiting for you." ,Tom's body was  numb now and his hands were shaking as if he saw grim-reaper himself, gathering last ounce of courage he had left Tom said with tears in his eyes</p>
    <h2>SORRY....</h2>

    <h2></h2>
    </div>

    <div><h2>Try to decipher the above chapter and take out the numbers to use as key to progress to next chapter.</h2>
    </div>
    
    

</div>
<div class="hints">
        <p>Hints: all five numbers have something in common a trait they all posses, but beware certain numbers are there to throw you off.</p>
        <form action="/story" method="POST">
            <div>
            <input type="number" required name="inp1" id="num1" class="no1">
            <input type="number" required name="inp2" id="num2" class="no1">
            <input type="number" required name="inp3" id="num3" class="no1">
            <input type="number" required name="inp4" id="num4" class="no1">
            <input type="number" required name="inp5" id="num5" class="no1">
            </div>
    <button id="start_button" type="submit">Next</button>


        </form>
        <p>Above passage contains hints in form of numbers which will ultimatly form a passcode which you will have to use to enter in order to proceed to next level. Try all possible combinations you can get.</p>
    </div>
</body>
</html>