@keyframes scribble {
  to {
    stroke-dashoffset: 0;
  }
}
body { background: #000; }
div#stripped {
  max-width: 750px;
  margin: 0 auto;
  background: #000;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/olga.jpg);
  background-size: cover;
  font-size: 0;
}
div#stripped svg {
  background: #000;
  mix-blend-mode: darken;
}

div#stripped svg polyline {
  fill: none;
  stroke: #f00;
  stroke-width: 200;
  stroke-dasharray: 20000;
  stroke-dashoffset: 20000;
  animation: scribble 3s linear forwards;
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  div#stripped {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/olga-2x.jpg);
  }
}

.content {
  font-family: 'Cedarville Cursive', cursive;
  color: white;
  margin: 20px;
  text-align: center;
  border: solid white 2px;
  border-radius: 20px;
}
.main{
  margin: 20px;
  
}
.main p{
  font-size: 20px;
}

.hints {
  font-family: 'Cedarville Cursive', cursive;
  color: white;
  margin: 20px;
  text-align: center;
  border: solid white 2px;
  border-radius: 20px;
  font-size: 20px;
 
}

.no1{
  background-color: #000;
  color: white;
  border: solid white 2px;
  height: 5vh;
  width: 5vw;
  font-size: 22px;
  margin-right: 2vw;
  border-radius: 20px;
  text-align: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* button{
  border: solid white 2px;
  text-decoration: none;
  font-family: 'Cedarville Cursive', cursive;
  background-color: black;
  color: white;
  padding: 11px 11px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 22px; 
  margin-top: 4vh;
} */

button {
  border-radius: 20px;
  background-color: black;
  border: 2px solid white;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}